/*UI for TritonClock*/
.container {
    width: 500px;
    margin: 20px auto;
    text-align: center;
}

#timer {
    font-size: 2em;
}

.neon-button {
    border: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 
          0 0 10px #00f0ff, 
          0 0 20px #00f0ff, 
          inset 0 0 10px #00f0ff;  
}

.neon-box {
    background-color: #222; /* Dark background enhances the glow */
    color: #fff;          /* White text for contrast */
    border: none;          /* Remove default border */
    padding: 10px; 
    border-radius: 5px;   /* Slightly rounded corners */
    box-shadow:  
        0 0 5px #00f0ff,  /* Blue neon glow */
        0 0 15px #00f0ff, 
        0 0 30px #00f0ff; 
}

/* Add a subtle hover effect */
.neon-textarea:hover {
   box-shadow: 
        0 0 8px #00f0ff,   
        0 0 20px #00f0ff, 
        0 0 40px #00f0ff; 
}

  